@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300;400;500;700&display=swap');

// SCSS Declarations

$color-white: #F8F8F8;
$color-black: #0F0F0F;
$color-grey: #D1D1D1;
$color-primary: #8AB5DB;
$color-primary-light: lighten($color-primary, 15%);
$color-primary-dark: darken($color-primary, 15%);

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Lato', sans-serif;

@mixin heading {
    font-family: $font-primary;
    font-size: 3.6rem;
    line-height: 1.5;
    padding: 2.4rem;
    margin: 3rem;
    text-align: center;
}

@mixin text {
    font-family: $font-secondary;
    font-size: 1.8rem;
    text-align: center;
    margin: 3rem;
}

@mixin centering {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Regular SCSS

* ,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-secondary;
    font-weight: 400;
    line-height: 1.7;
    box-sizing: border-box;
    background-color: $color-white;
}

h1 {
    @include heading;
}

p{
    @include text;
}

.hero {
    height: 100vh;
    position: relative;
}

.hero-main-text {
    @include centering;
    text-align: center;

    h2 {
        color: $color-grey;
    }

    img {
        height: 22vh;
        border: .2rem 1rem solid $color-black;
        margin: 3rem;
        text-align: center;
        background-color: $color-white;
        box-shadow: 
            1.2rem 1.2rem 1.6rem 0 rgba(0, 0, 0, 0.25),
            -.8rem -.8rem 1.2rem 0 rgba(255, 255, 255, 0.3);
        border-radius: 50rem;
    }
}

.hero-heading {
    @include heading;
}

.about {
    height: 50vh;
    position: relative;
    background-color: $color-primary;

    .about-text {
        @include centering;
        color: $color-white;
    }
}


.skills {
    margin: auto;
    height: 100vh;
    position: relative;

    .skills-container {
        @include centering;
        width: 50vw;

        .progress {
            text-align: center;
            margin: 1rem;
            height: 2rem;
            background-color: $color-grey;
        }
    
        .progress-bar {
            background-color: $color-primary-dark;
        }
    
        h3 {
            font-family: $font-secondary;
            margin: 1rem;
            font-size: 1.6rem;
            display: block;
        }
    }
}

.projects {
    margin: auto;
    height: 100vh;
    position: relative;

    .projects-section {
        @include centering;

        .projects-section-heading {
            display: block;
            margin: 3rem;
        }
    
        .projects-section-cards {
            display: flex;

            .projects-cards {
                text-align: center;
                background-color: $color-white;
                box-shadow: 
                    1.2rem 1.2rem 1.6rem 0 rgba(0, 0, 0, 0.25),
                    -.8rem -.8rem 1.2rem 0 rgba(255, 255, 255, 0.3);
                border-radius: 5rem;
                height: 35rem;
                width: 30rem;
                margin: 3rem;
    
                i {
                    margin: 2rem;
                    padding: 1rem;
                }
                p {
                    padding: 1rem;
                }
            }
        }
    }
}

.contact {
    height: 30vh;
    position: relative;
    color: $color-white;
    background-color: $color-primary;

    .contact-section {
        @include centering;

        .contact-button {
            text-align: center;
            background-color: $color-white;
            box-shadow: 
                1.2rem 1.2rem 1.6rem 0 rgba(0, 0, 0, 0.25),
                -.8rem -.8rem 1.2rem 0 rgba(255, 255, 255, 0.3);
            border-radius: 5rem;
            height: 5rem;
            width: 15rem;
            margin: 3rem; 
            padding: 2rem;      
        }
    }
}

.testimonials {
    height: 70vh;
    position: relative;
    .testimonials-section {
        @include centering;
        top: 20%;
    }
}

.footer {
    height: 30vh;
    position: relative;
    background-color: $color-primary;
    color: $color-white;

    .footer-content {
        @include centering;
    }

    .footer-icons {
        text-align: center;
    }

    i {
        color: $color-white;
        display: inline-block;
        margin: 1rem;
    }
}

